@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  font-family: 'Tilt Neon', cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App > h1 {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translate(-50%);
}

.body {
  width: 100%;
  min-height: 100vh;
}
.MarkerContainer {
  border: 1px solid;
}

.Habitlist {
  width: 30%;
  min-width: 35ch;
  padding: 3rem;
  margin: 2rem;
  font-size: 2rem;
}
.Habitlist .addHabitContainer {
  margin-top: 2rem;
}
.Habitlist  input[type=text] {
  width: 85%;
  height: 3rem; 
  font-size: 2rem;
  padding: 0 1rem;
}
.Habitlist .addHabitContainer  button {
  width: 15%;
  height: 3rem;
  font-size: 2rem;
}
.Habitlist .Habit {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  padding: 1rem 1rem;
}
.Habitlist .Habit:nth-child(1) {
  border-top: 1px solid;
}

.Habitlist .Habit button {
  
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 35px;
}